html
  head
    title Documento Básico
  body
    h1 Documento Básico 
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae voluptates quas, cum unde, mollitia odit quos ducimus obcaecati porro consectetur, optio doloremque magni tempore. Nihil aliquam error minima vel repellat.
