a(name="inicio")
h2 Enlaces
a(href='http://www.google.com') Ir a Google
&nbsp;| &nbsp;
a(href='http://www.yahoo.com') Ir a Yahoo
&nbsp;| &nbsp;
a(href='http://www.youtube.com') Ir a Youtube
h2 Anclas
a(href='#info1') Ir a Informaci贸n 1
&nbsp;| &nbsp;
a(href='#info2') Ir a Informaci贸n 2
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
a(name="info1")
a(href='#inicio') Ir a Inicio
h1 Informaci贸n 1
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed accusantium quisquam labore id voluptatum! Assumenda consequatur nisi mollitia eius, quas blanditiis cumque et at dolorem earum. Alias, unde cumque sit?
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
a(name="info2")
a(href='#inicio') Ir a Inicio
h1 Informaci贸n 2
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed accusantium quisquam labore id voluptatum! Assumenda consequatur nisi mollitia eius, quas blanditiis cumque et at dolorem earum. Alias, unde cumque sit?

