doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Lista No Ordenada
  body
    ul
      li Colores
        ul
          li Amarillo
          li Azul
          li Rojo
          li Blanco
          li Verde
    ul
      li Videojuegos Buenos
        ul
          li Far Cry 4
          li Just Caus 3
          li Battlefield 3
          li Black Ops 2
          li NInja Gaiden 3
    ul  
     li Anime
       ul
         li Akame ga kill
         li Another
         li Tokyo Ghoul
        