doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Lista Ordenada
  body
    ol
      li Presionar (CTRL + SHIFT + P)
      li Escribimos "Control Package"
      li Seleccionamos "Install Package"
      li Escribimos "emmet"
      li Seleccionamos presionando "ENTER"