doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tablas
  body
    table(border=1)
      tr
        th Nombre Completo
        th Telefono
        th Direccion
      tr
        td Jeremias Sprinfield
        td 8741122
        td Calle 11 #7A - 32
      tr
        td Luis David Hurtado
        td 8775323
        td Cra 6 #13-75
      tr
        td Jairo Salazar
        td 8776899
        td Cra 6 #13-72
   