body
	background-color #Afffff

section
	background transparent url(../imgs/calma.png) no-repeat center center
	border 4px solid #1FE6B0
	height 400px
	padding 20px
	margin 20px auto
	width 800px
section
	h2
		color #0B634B
section.fondo1
	background-size 100px
section.fondo2
	background-size 200%
section.fondo3
	background-size cover
section.fondo4
	background-size contain