doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Mi primer docmuento HTML 5
  body
    h1 Mi Documento HTML 5
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam vitae, a, maxime, deleniti pariatur neque aperiam, mollitia illum modi laboriosam quaerat! Consequatur excepturi cupiditate, in eum accusantium sunt. Doloremque perferendis facere libero praesentium, exercitationem voluptatem cumque eos, sint dolore quas inventore itaque tempore? Vel nobis eius ducimus at excepturi officiis maiores accusantium, ut omnis fugit qui consectetur quam tenetur dolorum ratione autem atque culpa earum optio nemo quidem. Quia tenetur excepturi inventore sunt, necessitatibus minima magnam adipisci quaerat dolorum dolore possimus corporis distinctio suscipit vero aspernatur atque. Neque recusandae explicabo quos ea unde quae, beatae voluptates impedit, minus quam cum.
  