doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tipos de Entradas(Formulario)
  body
  h1 Tipos de Entradas (Formulario)
  hr
  form(method="past")
    //color
    label(for="color") Color:
    input(type="color", id="color")
    br
    br
    //date
    label(for="date") Date
    input(type="date", id="date")
    br
    br
    //email
    label(for="email") Email
    input(type="email", id="email")
    br
    br
    //month
    label(for="month") Monht
    input(type="month", id="month")
    br
    br
    //number
    label(for="number") Number
    input(type="number", id="number")
    br
    br
    //range
    label(for="range") Range
    input(type="range", id="range")
    br
    br
    //sreach
    label(for="search") Search
    input(type="search", id="search")
    br
    br
    //Time
    label(for="time") Time
    input(type="time", id="time")
    br
    br
    //Url
    label(for="url") Url
    input=(type="url", id="time")
    br
    br
    //Week
    label(for="week") Week
    input(type="week", id="week")