section div {
  width: 500px;
  margin: 20px auto;
  background-color: #c0c0c0;
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 0px 0px -4px -4px;
}
.color1 {
  background-color: Maroon;
}
.color2 {
  background-color: #f00;
}
.color3 {
  background-color: #ff0;
}
.color4 {
  background-color: #ffa500;
}
.color5 {
  background-color: #808000;
}
.color6 {
  background-color: #800080;
}
.color7 {
  background-color: #f0f;
}
.color8 {
  background-color: #fff;
}
.color9 {
  background-color: #0f0;
}
.color10 {
  background-color: #008000;
}
.color11 {
  background-color: #000080;
}
.color12 {
  background-color: #00f;
}
.color13 {
  background-color: #0ff;
}
.color14 {
  background-color: #008080;
}
.color15 {
  background-color: #000;
  color: #fff;
}
.color16 {
  background-color: #c0c0c0;
}
.color17 {
  background-color: #808080;
}
