h1 {
  text-align: center;
}
body {
  background-color: #000;
  text-align: center;
  color: #fff;
}
section {
  border: solid 2px;
  display: inline-block;
  padding: 2px;
  width: 200px;
  vertical-align: top;
  border-color: #fff;
}
section.box1 {
  text-indent: 0px;
  height: 289px;
  text-align: justify;
}
/* Tabulacion Text-indent*/
section.box2 {
  text-indent: 2em;
  text-align: justify;
}
section.box3 {
  text-indent: 4em;
  text-align: justify;
}
