body {
  text-align: center;
}
h1 {
  text-align: center;
}
section {
  border: solid 2px;
  display: inline-block;
  padding: 2px;
  width: 200px;
  vertical-align: top;
}
section.box1 {
  word-spacing: 0;
  text-align: justify;
}
/* Espacio letter-spacing*/
section.box2 {
  word-spacing: 0.5em;
  text-align: justify;
}
section.box3 {
  word-spacing: 1em;
  text-align: justify;
}
