body {
  background-color: #a10a43;
}
section {
  border: 10px solid #75052e;
  background-color: #fff;
  margin: 40px auto;
  height: 400px;
  width: 400px;
}
section.pointer {
  cursor: pointer;
}
section.move {
  cursor: move;
}
section.wait {
  cursor: wait;
}
section.help {
  cursor: help;
}
section.image {
  cursor: url("../imgs/cursor.png"), default;
}
