doctype
html(lang="es")
head
  meta(charset="UTF-8")
  title Ejemplo rutas relativas
  link(href="estilos.css", rel="stylesheet")
body
  .marcoppal
    .encabezado
      a(href="javascript:;") Inicio
      a(href="secciones/nosotros.html") Nosotros
      a(href="secciones/servicios.html") Servicios
      a(href="secciones/contacto.html") Contacto
    .contenido
      h1 La Moyeja
      img(src="imagenes/index.png")
      p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, non necessitatibus sapiente recusandae asperiores sed vel officia quod blanditiis omnis! Soluta nihil id, voluptas incidunt voluptatem illo distinctio. Voluptates, ducimus.
    .pie
      p Todos los derechos reservados 2016
  