html(lang="es")
  head
    meta(charset="UTF-8")
    title Servicios
    link(href='../estilos.css', rel='stylesheet')
  body
    .marcoppal
      .encabezado
        a(href='../index.html') Inicio
        a(href='nosotros.html') Nosotros
        a(href='javascript:;.html') Servicios
        a(href='contacto.html') Contacto
      .contenido
        h1 Nosotros
        img(src='imagenes/servicios.png')
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus deleniti ab veniam earum reiciendis, ad neque quisquam repellat numquam. Deleniti dolorem rem adipisci iusto in excepturi quod aperiam dolores, laborum obcaecati nemo maxime ut optio neque veritatis enim cupiditate natus reiciendis! Velit doloremque consequuntur, perferendis libero voluptatibus accusantium repellendus itaque! Omnis dolor cupiditate, magni quaerat sed odio commodi similique voluptatibus ipsam sequi, repellendus doloremque facere eos deleniti mollitia asperiores laboriosam pariatur tenetur. Mollitia facilis, sapiente aliquid. Dicta odit dolores itaque, facere dolorum. Esse architecto rerum inventore, pariatur beatae reprehenderit, itaque dolorum unde sed, porro deserunt voluptates a at numquam. Quibusdam.
      .pie
        p Todos los derechos reservados 2016