doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Code (jade)
    style(stylesheet).
  body
    h1 Comentarios (jade)
    // Primeros comentarios
    p Hola a todos
    p Programador
    //- Otra forma
    p hola a todos
    p Internet
    //Tercera forma
    //
      Hola que tal como han estado programadores