//- 07_herencia.jade
extends ./layout.jade

block title
  title Titulo del articulo 

block content
  h1 Mi  Articulo
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni in quibusdam quo nesciunt. Iusto voluptate officiis magni eum suscipit, quasi voluptas assumenda maxime harum similique consequuntur dignissimos, nisi cupiditate vitae?