//- 09_incluir_texto.jade
doctype html
html
  head
    title Mi Sitio Web
    style
      include style.css
      script
       include script.js
  body
    h1 Mi Sitio
    p Bienvenidos a mi sistio web.
    script
       include script.js
   