doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Document
  body
  
    - var title = "Mi Gran Libro";
    - var author = "Luis";
    - var theGreat = "Muy Genial"

    h1= title
    p Escrito por #{author}
    p Esto es: #{theGreat}