doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Document
  body
  ul
  each val in [1, 2, 3, 4, 5]
    li= val
  ul
  each val, index in ['cero', 'uno', 'dos']
    li= index + ': ' + val
  ul
  each val, index in {1:'uno',2:'dos',3:'tres'}
    li= index + ': ' + val
    
  - var values = [];
  ul
    each val in values.length ? values : ['Estas no son ']
      li= val
