doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Document
  body
   | Plain text can include <strong>html</strong>
  p
    | It must always be on its own line
  p Plain text can include <strong>html</strong>
  script.
  if (usingJade)
    alert('Usted es ingreible')
  else
    console.log('use jade')