section#sprite
	background transparent url(../imgs/cara.jpg) no-repeat
	border 2px solid #ddd
	height 85px
	margin 20px auto
	width 85px
	background-color Black
section#sprite.anim1
	background-position 0px -0px
section#sprite.anim2
	background-position -80px -0px
section#sprite.anim3
	background-position -160px -0px
section#sprite.anim4
	background-position -240px -0px 	
section#sprite.anim5
	background-position -320px -0px
section#sprite.anim6
	background-position -400px -0px
	
section#sprite.anim7
	background-position -0px -75px
section#sprite.anim8
	background-position -80px -75px
section#sprite.anim9
	background-position -160px -75px
section#sprite.anim10
	background-position -240px -75px
section#sprite.anim11
	background-position -320px -75px
section#sprite.anim12
	background-position -400px -75px
