/* Selector Universal */
*
  font: 1em Arial;
/* Selector de Tipo o Etiqueta*/
section
  background-color #197
  margin 20px auto
  width 800px
  padding 20px
/*Selector Descendente */
section article h2
  font-size 1.4em
section article p
  text-align justify
/* Selector Clases */
.rojo
  color red
.blanco
  color white
.claro
  background-color blue
.oscuro
  background-color green
.minuscula
  text-transform lowercase
.mayuscula
  text-transform uppercase
/* Selector ID */
#parr1
  padding 10px
#parr2
  color silver
/* Selector Combinado */
section article h2.rojo
  font-weight bold
section article p#parr1
  color gray