/* Unidades de Medida Porcentuales */
#box
  background-color peru
  width 100%
div
  background-color orange
  display inline-block
  height 400px
  font-size 5em
  text-align center
.box1
  width 50%
.box2
  width 30%
.box3
  width 18%