section
  width 500px
  margin 20px auto
  font-size 1em
article
  text-align center
div
  display inline-block
  height 100px
  width 100px
  margin 0px 0px -4px -4px
  font-size 1em

.color1
  background-color rgb(40%,10%,5%)
.color2
  background-color rgb(100%,0%,0%)
.color3
  background-color rgb(100%,100%,0%)
.color4
  background-color rgb(100%,78%,0%)
.color5
  background-color rgb(40%,40%,0%)
.color6
  background-color rgb(12%,0%,13%)
.color7
  background-color rgb(100%,0%,100%)
.color8
  background-color rgb(100%,100%,100%)
.color9
  background-color rgb(10%,90%,10%)
.color10
  background-color rgb(0%,100%,0%)
.color11
  background-color rgb(0%,0%,40%)
.color12
  background-color rgb(0%,0%,100%)
.color13
  background-color rgb(0%,100%,100%)
.color14
  background-color rgb(12%,40%,40%)
.color15
  background-color rgb(0%,0%,0%)
  color white
.color16
  background-color rgb(87%,87%,87%)
.color17
  background-color rgb(40%,40%,40%)
  