section
  width 500px
  margin 20px auto
  font-size 1em
article
  text-align center
div
  display inline-block
  height 100px
  width 100px
  margin 0px 0px -4px -4px
  font-size 1em

.color1
  background-color hsl(20%,120%,10%)
.color2
  background-color hsl(0%,100%,50%)
.color3
  background-color hsl(60%,100%,50%)
.color4
  background-color hsl(30%,100%,50%)
.color5
  background-color hsl(50%,100%,20%)
.color6
  background-color hsl(300%,100%,40%)
.color7
  background-color hsl(322%,100%,50%)
.color8
  background-color hsl(100%,100%,100%)
.color9
  background-color hsl(120%,100%,50%)
.color10
  background-color hsl(120%,80%,30%)
.color11
  background-color hsl(240%,80%,20%)
.color12
  background-color hsl(240%,100%,40%)
.color13
  background-color hsl(180%,90%,49%)
.color14
  background-color hsl(180%,80%,20%)
.color15
  background-color hsl(0%,0%,0%)
  color white
.color16
  background-color hsl(0%,0%,80%)
.color17
  background-color hsl(0%,0%,40%)
  