body
	font 14px Tahoma
section
	background url(../imgs/woodland.jpg) no-repeat center center /cover
	margin 30px auto
	padding 60px
	width 800px
	height 800px
h2
	font-size 5em
	color hsla(0, 0%, 100%, 0.4)
	margin 0px
	text-align center
h2 span
	color hsla(0, 0%, 0%, 0.6)
p
	background-color hsla(0, 0%, 0%, 0.6)
	color hsla(0, 0%, 100%, 0.8)
	padding 20px
	text-align justify