section
	text-align center
.margin
	width 800px
	height 500px
	background-color red
	margin 0px auto
.border
	background-color green
	margin 0px auto
	width 700px
	height 400px
.padding
	background-color blue
	margin 0px auto
	width 500px
	height 300px
.content
	background-color yellow
	margin 0px auto
	width 400px
	height 100px