h1
	background-color red
	color withe
	
section
	border 4px dotted #0E71EC
	background-color #3CF4D8
	width 600px
	height 600px
section div.box
	background-color blue
	height 100px
	width 200px
	/* MARGENES: Forma Larga */
	margin-top 210px
	margin-right 250px
	margin-bottom 220px
	margin-left 200px
	/*Forma Corta */
	margin 210px 250px 220px 200px
	
	