article
	border-color #2FE36F
	border-style solid
	height 250px
	width 350px
article.box1
	/* Anchos de Bordes -- forma larga*/
	border-top-width thin
	border-right-width 20px
	border-bottom-width thick
	border-left-width medium
	/* Anchos de Bordes -- forma corta*/
	border-width thin 20px thick medium
article.box2
	/* Colores forma larga */
	border-top-color #ff0
	border-right-color #00f
	border-bottom-color #f00
	border-left-color #0f0
	/* Colores forma corta */
	border-color #ff0 #00f #f00 #0f0
	
article.box3
	/* Estilos Bordes forma larga */
	border-top-style solid
	border-right-style dotted
	border-bottom-style dashed
	border-left-style double
	/* Estilos Bordes forma Corta */
	border-style solid dotted dashed double
article.box4
	/* BORDES-----shorthand */
	border 10px dotted #9b62b9
	