body
	/* Shorthand: forma corta*/
	background #000 url(../imgs/num.jpg) center center
	background-attachment fixed /*scroll*/
	color white
	font 16px Arial
	line-height 30px
	padding 50px
	text-align justify
p
	background-color rgba(0, 0, 0, .6)
	padding 40px