body
	color #999
	font 16px Arial
section.padre
	border 2px solid #ccc
	height 300px
	padding 10px
	width 300px
section.padre div
	border 2px solid #ccc
	height 60px
	line-height 60px
	margin-bottom 10px
	text-align center
	width 120px
section .hija4
	float right
	background-color #ddd
section.imagen
	border 2px solid #ccc
	height 300px
	padding 10px
	width 550px
section img
	width 200
	height 200px
	float left
	margin-right 10px
section p.limpiar
	clear left