section
	display inline-block
	border 2px solid black
	width 300px
	height 400px
	vertical-align top
	text-align center
main
	text-align center
section.box1 
	overflow visible
	
section.box2 
	overflow hidden
section.box3 
	overflow scroll
h4
	background-color gray
	padding 10px
	