body
	font-family  Arial
	text-align center
	margin 40px 30px 50px 50px
	border solid 2px 
	border-color green
hr
	border-color red
	border 2px solid
p.normal
	font-style normal
p.italic
	font-style italic
p.oblique
	font-style oblique
section
	background-color gray