body
	text-align center
section div
	display inline-block
	background-color blue
	color white
section div.caja1
	width 300px
	height 150px
	border 2px solid
	text-align left
section div.caja2
	width 300px
	height 150px
	border 2px solid
	text-align right
section div.caja3
	width 300px
	height 150px
	text-align center
	border 2px solid
section div.caja4
	width 300px
	height 150px
	text-align justify
	border 2px solid