body
	text-align center
	background-color black
section div
	display inline-block
	background-color white
	padding 10px
section div.caja1
	width 150px
	height 220px
	border 2px solid
	line-height 1.2em
section div.caja2
	width 150px
	height 300px
	border 2px solid
	line-height 1.5em
section div.caja3
	width 150px
	height 380px
	line-height 2em
	border 2px solid
div
	vertical-align top
h1
	color red
p
	color red
	text-align center
	display inline-block

