body
	background-color #6a94c7
	font 16px Tahoma
section
	background-color #fff
	margin 20px auto
	padding 20px
	width 900px
ul, ol
	border 2px dotted #6a81c4
	display inline-block
	margin 20px
	vertical-align top
ul.disc li
	list-style-type disc
ul.circle li
	list-style-type circle
	list-style-position inside
ul.square li
	list-style-type square
	
ol.decimal li
	list-style-type decimal
ol.roman li
	list-style-type upper-roman
	list-style-position inside
ol.greek li
	list-style-type lower-greek
/* Imagen estilo*/
ul.imagen li
	list-style-image url(../imgs/poke.png)
/*Forma Corta */
ul.imagen li
	list-style decimal ouside url(../imgs/poke.png)